<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tasks Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">My Tasks</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(tasks)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Desc</th>
                                <th>Priority</th>
                                <th>DueDate</th>
                                <th>ContainerId</th>
                            </tr>
                            </thead>
                            <tr th:each="task : ${tasks}">
                                <td th:text="${task.getId()}">def id</td>
                                <td th:text="${task.getName()}">def name</td>
                                <td th:text="${task.getDescription()}">def desc</td>
                                <td th:text="${task.getPriority()}">def priority</td>
                                <td th:text="${task.getDueDate()}">def date</td>
                                <td th:text="${task.getTaskContainer().getName()}">def container</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>